*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.container {
  max-width: 1200px;
  margin: 4rem auto;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4rem 0;
}

.post-item {
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 5px;
  width: 300px;
  height: 300px;
  border: solid 1px gray;

  text-decoration: none;
  color: #111;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.post-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.post-item > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

footer {
  width: 100%;
  padding: 2rem;
  text-align: center;
}

.add-form {
  width: 350px;
  padding: 2rem;
}

.add-form label {
  margin: 2rem;
}

.add-form input {
  float: right;
}

.single-post {
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 5px;
  border: solid 1px gray;
  text-decoration: none;
  color: #111;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.single-post > img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
